<div class="row">
    <ul class="breadcrumb">
        <li>
            {{_ciclo.empresa.nomeFantasia}}
        </li>
        <li>
            {{_ciclo.descricao}}
        </li>
        <li>Processos Seletivos</li>
    </ul>
</div>

<div class="row">
    <h4 class="legend-title">
        Listagem de Processos Seletivos
    </h4>
    <div class="pull-right">
        <a (click)="navigateToProcessoSeletivo()"
           class="btn btn-sm btn-primary btn-xs">
            <span class="glyphicon glyphicon-plus"></span> Novo Processo Seletivo
        </a>
    </div>
</div>

<div class="row" style="padding-top: 10px;">
    <fieldset>
        <div class="container">
            <table class="table table-bordered" style="text-align: center;">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Código</th>
                    <th>Tipo de processo</th>
                    <th>Data Inicio</th>
                    <th>Data Fim Web</th>
                    <th>Situação</th>
                    <th>Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="_processosSeletivos.length == 0">
                    <td class="info" colspan="7">
                        <span class="active">
                           Nenhum item encontrado
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let processoSeletivoIndex of _processosSeletivos">
                    <td>{{processoSeletivoIndex.nome}}</td>
                    <td>{{processoSeletivoIndex.codigo}}</td>
                    <td>{{processoSeletivoIndex.tipoProcessoSeletivo.descricao}}</td>
                    <td>
                        {{processoSeletivoIndex.dataInicioInscricao.data}}
                        as
                        {{processoSeletivoIndex.dataInicioInscricao.hora}}
                    </td>
                    <td>
                        {{processoSeletivoIndex.dataFimInscricaoWeb.data}}
                        as
                        {{processoSeletivoIndex.dataFimInscricaoWeb.hora}}
                    </td>
                    <td>{{processoSeletivoIndex.status.toString()}}</td>
                    <td>
                        <a (click)="navigateToProcessoSeletivo(processoSeletivoIndex)"
                           class="btn btn-sm btn-info btn-xs">
                            Editar Processo Seletivo
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <div>
        <a class="btn btn-sm btn-default btn-xs"
           (click)="navigateToCiclo()">
            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
        </a>
    </div>
</div>