<div class="container">
    <div class="text-center" *ngIf="serverEnable == false">
        <div class="jumbotron">
            <h3>Página de erro :(</h3>
            <p>Servidor backend não está disponível</p>
            <p>
                <a class="alert-link"
                   target="_blank"
                   href="https://github.com/lelodois/vest-backend/blob/master/README.md">
                    ReadMe backend
                </a>
            </p>
        </div>
    </div>

    <div class="container" *ngIf="serverEnable == true">
        <div class="jumbotron">
            <div class="has-success">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
