<fieldset>
    <legend class="legend-title">Prova Tradicional</legend>
    <div class="form-group">
        <div class="col-md-4 form-group">
            <span for="dataProva">Data da prova</span>
            <input type='date' class="form-control"
                   id="dataProva"/>
        </div>
        <div class="col-md-2 form-group">
            <span for="horaProva">Início</span>
            <select id="horaProva"
                    class="form-control"
                    name="horaProva">

                <option *ngFor="let keyValue of _horasArray"
                        [value]="keyValue.key">
                    {{ keyValue.value }}
                </option>

            </select>
        </div>
    </div>
</fieldset>
