<fieldset>
    <legend class="legend-title">Prova Agendada</legend>
    <div class="dual-list list-left col-md-2">
        <div class="well form-group">
            <select multiple="multiple" class="form-control">
                <option>Segunda</option>
                <option>Terça</option>
                <option>Quarta</option>
                <option>Quinta</option>
                <option>Sexta</option>
                <option>Sábado</option>
                <option>Domingo</option>
            </select>
        </div>
    </div>
    <div class="dual-list list-left col-md-3">
        <div class="well form-group">
            <select multiple="multiple" class="form-control">
                <option>00:00</option>
                <option>01:00</option>
                <option>02:00</option>
                <option>03:00</option>
                <option>04:00</option>
                <option>05:00</option>
                <option>06:00</option>
                <option>07:00</option>
                <option>08:00</option>
                <option>09:00</option>
                <option>10:00</option>
                <option>11:00</option>
                <option>12:00</option>
                <option>13:00</option>
                <option>14:00</option>
                <option>15:00</option>
                <option>16:00</option>
                <option>17:00</option>
                <option>18:00</option>
                <option>19:00</option>
                <option>20:00</option>
                <option>21:00</option>
                <option>22:00</option>
                <option>23:00</option>
            </select>
        </div>
    </div>

    <div class="list-arrows col-md-1 text-center">
        <button class="btn btn-default btn-sm move-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>

        <button class="btn btn-default btn-sm move-right">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>

    <div class="dual-list col-md-5">
        <div class="well form-group">
            <ul class="list-group">
                <li class="list-group-item">Segunda as 17:00</li>
                <li class="list-group-item">Segunda as 21:00</li>
                <li class="list-group-item">Terça as 17:00</li>
                <li class="list-group-item">Terça as 21:00</li>
                <li class="list-group-item">Sábado as 17:00</li>
                <li class="list-group-item">Sábado as 21:00</li>
                <li class="list-group-item">Domingo as 09:00</li>
                <li class="list-group-item">Domingo as 13:00</li>
            </ul>
        </div>
    </div>
</fieldset>