.jumbotron {
    background-color: #fbf6f6;
}
.padding-left{
    padding-left: 0px !important;
}
.legend-title{
    font-size: 16px;
    font-weight: bold;
}
.edit {
    color: #FFC107;
}
.delete {
    color: #E34724;
}
a { 
    min-width: 24px;
}
h4 {
    font-weight: bold;
}