<form>
  <div class="row">
    <fieldset>
      <legend class="legend-title">Cadastro de Ofertas</legend>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
                <input type="checkbox"/>
            </th>
            <th>Tipo do curso</th>
            <th>Nome do Curso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox"/>
            </td>
            <td>EAD</td>
            <td>Cst em Análise e desenvolvimento de sistemas</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked"/>
            </td>
            <td>EAD</td>
            <td>Cst em Gestão de recursos humanos</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox"/>
            </td>
            <td>Presencial</td>
            <td>Cst em Gestão Hospitalar</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox"/>
            </td>
            <td>EAD</td>
            <td>Engenharia Ambiental (Semipresencial)</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>  
</form>