<form [formGroup]="_saveForm">
    <fieldset>
        <legend class="legend-title">Cadastro de Processo Seletivo</legend>

        <div class="row form-group">
            <div class="col-md-6" [ngClass]="hasErrorIn('nome')">
                <span for="nome">Informe o nome do processo</span>
                <input id="nome" type='text' class="form-control"
                       name="nome" formControlName='nome'/>
            </div>

            <div formGroupName="tipoProcessoSeletivo">
                <div class="col-md-6" [ngClass]="hasErrorIn('tipoProcessoSeletivo.codigoTipo')">
                    <span for="tipoProcessoSeletivo">Tipo de Processo Seletivo</span>
                    <select id="tipoProcessoSeletivo" class="form-control"
                            name="tipoProcessoSeletivo" formControlName="codigoTipo">
                        <option *ngFor="let tipoProcessoSeletivo of _tiposProcessosSeletivosList"
                                [value]="tipoProcessoSeletivo.codigoTipo">
                            {{ tipoProcessoSeletivo.descricao }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row form-group">

            <div formGroupName="dataInicioInscricao">
                <div class="col-md-4" [ngClass]="hasErrorIn('dataInicioInscricao.data')">
                    <span for="dataInicioInscricaoWeb">Início Inscrição</span>
                    <input id="dataInicioInscricaoWeb" type='date' required class="form-control"
                           name="dataInicioInscricaoWeb"
                           [ngModel]="_baseItem.dataInicioInscricao.data | date:'yyyy-MM-dd'"
                           formControlName="data"/>
                </div>
                <div class="col-md-2" [ngClass]="hasErrorIn('dataInicioInscricao.hora')">
                    <span for="horaInicioInscricaoWeb">Horas</span>
                    <select id="horaInicioInscricaoWeb" class="form-control"
                            name="horaInicioInscricaoWeb" formControlName="hora">
                        <option *ngFor="let keyValue of _horasArray"
                                [value]="keyValue.key">
                            {{ keyValue.value }}
                        </option>
                    </select>
                </div>
            </div>

            <div formGroupName="dataFimInscricaoWeb">
                <div class="col-md-4" [ngClass]="hasErrorIn('dataFimInscricaoWeb.data')">
                    <span for="dataFimInscricaoWeb">Final Inscrição Web</span>
                    <input id="dataFimInscricaoWeb" type='date' class="form-control"
                           [ngModel]="_baseItem.dataFimInscricaoWeb.data | date:'yyyy-MM-dd'"
                           name="dataFimInscricaoWeb" formControlName="data"/>
                </div>
                <div class="col-md-2" [ngClass]="hasErrorIn('dataFimInscricaoWeb.hora')">
                    <span for="horaInscricaofimWeb">Horas</span>
                    <select id="horaInscricaofimWeb" class="form-control"
                            name="horaInscricaofimWeb" formControlName="hora">
                        <option *ngFor="let keyValue of _horasArray"
                                [value]="keyValue.key">
                            {{ keyValue.value }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row form-group">

            <div formGroupName="dataFimInscricaoPresencial">

                <div class="col-md-4" [ngClass]="hasErrorIn('dataFimInscricaoPresencial.data')">
                    <span for="dataFimInscricaoPresencial">Final Inscrição Presencial</span>
                    <input id="dataFimInscricaoPresencial" type='date' class="form-control"
                           [ngModel]="_baseItem.dataFimInscricaoPresencial.data | date:'yyyy-MM-dd'"
                           name="dataFimInscricaoPresencial" formControlName="data"/>
                </div>

                <div class="col-md-2" [ngClass]="hasErrorIn('dataFimInscricaoPresencial.hora')">
                    <span for="horaInscricaoPresencialFim">Horas</span>
                    <select id="horaInscricaoPresencialFim" class="form-control"
                            name="horaInscricaoPresencialFim" formControlName="hora">
                        <option *ngFor="let keyValue of _horasArray"
                                [value]="keyValue.key">
                            {{ keyValue.value }}
                        </option>
                        _horasArray
                    </select>
                </div>
            </div>

            <div>
                <div class="col-md-6" [ngClass]="hasErrorIn('status')">
                    <div>
                        <span>Status</span>
                    </div>
                    <label class="checkbox-inline">
                        <input id="radioStatusAnd" type="radio" value="1"
                               name="status" formControlName="status"/>
                        <span for="radioStatusAnd">Em andamento</span>
                    </label>
                    <label class="checkbox-inline">
                        <input id="radioStatusPlan" type="radio" value="2"
                               name="status" formControlName="status"/>
                        <span for="radioStatusPlan">Em planejamento</span>
                    </label>
                    <label class="checkbox-inline">
                        <input id="radioStatusEnc" type="radio" value="3"
                               name="status" formControlName="status"/>
                        <span for="radioStatusEnc">Encerrado</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" [ngClass]="hasErrorIn('valorInscricao')">
                <span for="valorInscricao">Inscrição R$</span>
                <input id="valorInscricao" type='text' class="form-control"
                       name="valorInscricao" formControlName="valorInscricao"/>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class='center alert alert-danger form-group'
             style="margin: 20px;"
             *ngIf="_errorMessages.length > 0">
            Existem {{ _errorMessages.length }} campos com erros de validação.
            <br>
            Por favor, corrija os campos em vermelho e tente novamente.
        </div>
    </fieldset>
</form>
